/* Implementacion fuentes externas */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: #535353;
    margin: 20px;
}

.table-aling-content {
    vertical-align: middle;
}

.table-black-border {
    border-color: black !important;
}

.table-black-border th,
.table-black-border td {
    border: 1px solid black !important;
}

.display-checkbox-container {
    display: none; 
    margin-top: 15px;
}

.input-group-2 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    display: inline-block;
}

/* Estilos para las pestañas del contenido de notacion */
.tabs {
    display: flex;
    cursor: pointer;
    border-bottom: 2px solid #ddd;
  }
  .tab {
    padding: 10px 20px;
    border: 1px solid #ddd;
    border-bottom: none;
    margin-right: 5px;
    background-color: #f1f1f1;
    transition: background-color 0.3s;
  }
  .tab:hover {
    background-color: #e0e0e0;
  }
  .tab.active {
    background-color: #fff;
    font-weight: bold;
    border-bottom: 2px solid #fff;
  }

  /* Estilo para el contenido */
  .tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ddd;
    border-top: none;
  }
  .tab-content.active {
    display: block;
  }

  /* ajustar texto hacia abajo */
.input-group-text {
    white-space: normal; /* Permite que el texto se ajuste en varias líneas */
    text-align: center; /* Centra el texto dentro del span */
    word-wrap: break-word; /* Rompe el texto en palabras largas */
    overflow-wrap: break-word; /* Alternativa para navegadores modernos */
}

.btn-outline-primary {
    color: #fff; /* Color del texto (Azul Bootstrap) */
    border-color: #0d6efd; /* Color del borde (Azul Bootstrap) */
    background-color: #0d6efd; /* Fondo transparente */
    transition: all 0.15s ease-in-out; /* Suaviza los cambios */
}

.btn-outline-primary:hover {
    color: #fff; /* Texto blanco al pasar el mouse */
    background-color: #0c50b8; /* Fondo azul sólido */
    border-color: #0c50b8; /* Mantiene el mismo borde */
}

.btn-outline-primary:focus, 
.btn-outline-primary:active {
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5); /* Resalta el botón */
}

.btn-outline-primary:disabled {
    color: #fff; /* Mantiene el color azul */
    background-color: #0d6efd;
    border-color: #0d6efd;
    opacity: 0.65; /* Reduce la opacidad */
    cursor: not-allowed;
}